{% extends 'base.html.twig' %}

{% block additionalStyleSheets %}
    <style type="text/css">
        div.welcome-page{
            text-align: -webkit-center;
        }
        .welcome-text{
            font-size: 8em;
        }
        .
    </style>
{% endblock %}

{% block content %}
<div class="welcome-page">
    <span class="welcome-text">Welcome</span>
    <h4>Register to get started :)</h4>


</div>
{% endblock %}